<div class="py-8">
    <h5
    class="font-semibold uppercase text-lg" 
     >{{blogpost.title}}</h5>
    <h5
    class="font-semibold uppercase text-xs tracking-wider" 

    >{{blogpost.name}}</h5>
    <h5
    class="font-semibold lowercase text-xs tracking-wider py-1"
    >{{blogpost.email}}</h5>
    <p
    class="font-semibold uppercase text-xs tracking-wider"
    >{{blogpost.published.toLocaleString("sv-SE")}}</p>
    <p 
    class="text-sm py-3"
    >{{blogpost.content}}</p>
    <button 
    [routerLink]="['blogpost', blogpost.id]"
    class="bg-banana border border-black rounded-md text-xs font-semibold tracking-wider cursor-pointer hover:bg-white duration-200 p-1 md:w-1/4 md:self-end"
    >GO TO POST</button>
</div>
