<section
class="bg-mustard flex flex-col items-center justify-center">

    <div class="w-4/5 flex justify-center">
<app-form class="w-full"></app-form>
</div>
<div class=" w-full flex flex-col border border-curry p-5">
<h2 class="text-2xl font-semibold md:text-4xl">POSTS</h2>
@if(blogpostList.length > 0) {
@for(blogpost of blogpostList; track blogpost.id) {
<app-posts [blogpost]="blogpost"></app-posts>
}
} @else {
<p>No posts yet!</p>
}
</div>
</section>

