<div class="bg-mustard py-3 px-5 border-b">
<div class="flex justify-between">
    <button [routerLink]="['/']" class="text-3xl font-bold sm:text-5xl">BLOGGi</button>
    <button [routerLink]="['chat']" class="bg-banana text-1xl sm:text-3xl font-bold border border-black p-2 rounded-md">the CHAT</button>
</div>
</div>
