
<body class="bg-banana h-screen">
<div >
  <div class="flex items-center justify-center p-4">
    <div class="mt-10 flex flex-col space-y-4 md:flex-row md:space-x-4 md:space-y-0 items-center">
      <input 
      class="placeholder:text-curry text-xs font-semibold bg-banana border border-black rounded-md p-1 w-64 md:w-64" [(ngModel)]="username" placeholder="Username">
      <button class="text-xs font-semibold bg-mustard text-black border border-black rounded-md p-1 w-64 md:w-64 cursor-pointer" [disabled]>CREATE USERNAME</button>
    </div>
    
  </div>
  <div class="flex items-center justify-center p-4">
    <div class="w-5/6 md:w-5/6 border border-black rounded-md p-2 h-48 bg-banana">
    <ul>
      @if(messages.length > 0)  {
      @for(message of messages; track message.id) {
      <li>{{message.username}}: {{message.content}}</li>
    }} @else {
      <p>No messages yet</p>}
    </ul>
  </div>
  </div>
  
  <div class="flex items-center justify-center p-4">
    <div class="w-5/6 md:w-5/6">
      <textarea class="placeholder:text-curry text-xs font-semibold w-full border border-black rounded-md p-2 h-20" [(ngModel)]="newMessage" placeholder="..."></textarea>
      <div class="flex justify-end mt-2">
        <button class="text-xs font-semibold bg-mustard text-black border border-black rounded-md p-1 w-64 md:w-64" (click)="sendMessage()">SEND</button>
      </div>
    </div>
  </div>
</div>
</body>
  
  
