
<div class="my-6">
<div class="text-sm font-semibold py-4">
<h4>Use this blog platform to post anything you like!</h4>
</div>
<form class="w-full"
[formGroup]="blogPostForm" (ngSubmit)="onSubmit()">
<div class="flex flex-col md:flex-row md:space-x-4">
  <div class="flex flex-col space-y-4 md:w-1/2">
    <input 
      type="text" 
      id="title" 
      formControlName="title" 
      placeholder="BLOG TITLE" 
      class="bg-mustard border border-black rounded-md p-1 placeholder:text-curry text-xs font-semibold tracking-wider"
      [ngClass]="{'invalid': blogPostForm.get('title')?.invalid && blogPostForm.get('title')?.touched}" />
    
    <input 
      type="text" 
      id="name" 
      formControlName="name" 
      placeholder="NAME"
      class="bg-mustard border border-black rounded-md p-1 placeholder:text-curry text-xs font-semibold tracking-wider"
      [ngClass]="{'invalid': blogPostForm.get('name')?.invalid && blogPostForm.get('name')?.touched}" />
    
    <input 
      type="text" 
      id="email" 
      formControlName="email" 
      placeholder="EMAIL" 
      class="bg-mustard border border-black rounded-md p-1 placeholder:text-curry text-xs font-semibold tracking-wider"
      [ngClass]="{'invalid': blogPostForm.get('email')?.invalid && blogPostForm.get('email')?.touched}" />
  </div>
  
  <div class="flex flex-col space-y-4 mt-4 md:mt-0 md:w-1/2">
    <textarea 
      id="content" 
      formControlName="content" 
      placeholder="SHARE SOMETHING..."
      class="bg-mustard h-32 border border-black rounded-md p-1 placeholder:text-curry text-xs font-semibold tracking-wider md:h-full"
      [ngClass]="{'invalid': blogPostForm.get('content')?.invalid && blogPostForm.get('content')?.touched}">
    </textarea>
    
  </div>
</div>
    <button 
      class="bg-banana border border-black rounded-md text-xs font-semibold tracking-wider cursor-pointer hover:bg-white duration-200 p-1 md:w-1/4 md:self-end"
      [disabled]="blogPostForm.invalid">POST :-)</button>
</form>
</div>
