<div class="bg-mint px-5 py-14">




  <div class="flex flex-col space-y-4 md:flex-row md:space-x-4">
    <!-- Blog Post Field -->
    <div class="flex flex-col space-y-4 md:w-1/2">
  @if(blogpost) {
  <h5     class="font-semibold uppercase text-lg md:text-2xl"> {{ blogpost.title }}</h5>
  <h5     class="font-semibold uppercase text-xs tracking-wider" 
  >{{ blogpost.name }}, <span class="lowercase">{{ blogpost.email }}</span></h5>
  <p     class="font-semibold uppercase text-xs tracking-wider"
  >{{ blogpost.published.toLocaleString() }}</p>
  <p >{{ blogpost.content }}</p>
} @else {
<p>Blogpost not found!</p>
}

  </div>
  <div class="flex flex-col space-y-4 md:w-1/2">    <textarea 
    class="bg-mint h-32 border border-black rounded-md p-1 placeholder:text-darkJungle text-xs font-semibold tracking-wider md:h-full"

     [(ngModel)]="newComment"
    placeholder="SHARE YOUR THOUGHTS...">
    </textarea>
    <button 
    class="bg-banana border border-black rounded-md text-xs font-semibold tracking-wider cursor-pointer hover:bg-white duration-200 p-2 my-2 md:w-2/4 md:self-end"
    (click)="postComment()">COMMENT :-D</button>
  </div>

</div>





<div class="py-8">
  <h5
  class="font-semibold uppercase text-lg" >Comments</h5>
  @if(blogpost && blogpost.comments.length > 0) { 
    @for(comment of blogpost.comments; track comment.id){
  <div>
    <p     class="text-sm py-3" 
    >{{ comment.content }}</p>
    <p   class="font-semibold uppercase text-xs tracking-wider"
    > {{ comment.published.toLocaleString()}}</p>
    <button 
    [routerLink]="['/']"
    class="bg-banana border border-black rounded-md text-xs font-semibold tracking-wider cursor-pointer hover:bg-white duration-200 p-1 my-2 md:w-1/4 md:self-end"
    >BACK TO POSTS</button>
  </div> }
 }  @else {
  <p>No comments yet!</p>
  } 
</div>  
</div>



